<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thank You</title>
        <link rel="stylesheet" href="thankYou.css">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <img src="LOGO.png" alt="our logo">
                </div>

                <div class="text">
                    <h3>Order Successful</h3>

                    <h3 id="thankYou">Thank you!</h3>
                    <span>On my way to your table</span>
                </div>

                <div class="button">
                    <a href="../Buyer/buyer.html">
                    <button>
                        <span>Make another order</span>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>