<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Role_Choosing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Choose_Your_Role</title>
</head>
<body>
    <div class="container">
        <div class="orange-thingy"></div>
        <div class="hum-logo">
            <img class="hum-img" src="logo.png" alt="">
        </div>
        <div>
            <p class="Choose_Your_Role">Choose Your Role:</p>
        </div>
        <div class="buttons">
            <button class="role">Buyer</button>
            <button class="role">Seller</button>
            <button class="role">Rider</button>
        </div>
    </div>
   
    
</body>
</html>