<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="addmenu.css">
    <title>Addmenu</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
    <div class="heading">
        <h1 class="name">SHOP NAME</h1>
        <div class="circle"><img class="star" src="img/star.png"></div>
        <p class="rating">5.0</p>
        <div class="log-out"><img src="img/logout.png"></div>
    </div>
    <div class="menu">
        <h1>MENU</h1>

        <div class="manage">
            <div class="add" id="add-item">
                <div class="circle"><img src="img/plus.png"></div>
                <p>ADD</p>
            </div>
            <div class="delete">
                <div class="circle"><img src="img/delete.png"></div>
                <p>DELETE</p>
            </div>
            <div class="vieworder">
                <p>View Orders</p>
            </div>
        </div>

        <div class="items">
            <div class="item">
                <div class="item-pic">
                    <div class="item-img"><img src="img/phatThai.svg"></div>
                    <p>Phat Thai</p>
                </div>
                <p class="price">120 Baht</p>
            </div>
            <div class="item">
                <div class="item-pic">
                    <div class="item-img"><img src="img/phatThai.svg"></div>
                    <p>Phat Thai</p>
                </div>
                <p class="price">120 Baht</p>
            </div>
            <div class="item">
                <div class="item-pic">
                    <div class="item-img"><img src="img/phatThai.svg"></div>
                    <p>Phat Thai</p>
                </div>
                <p class="price">120 Baht</p>
            </div>
            <div class="item">
                <div class="item-pic">
                    <div class="item-img"><img src="img/phatThai.svg"></div>
                    <p>Phat Thai</p>
                </div>
                <p class="price">120 Baht</p>
            </div>

        </div>
    </div>
    </div>
</body>
</html>