<!DOCTYPE html>
<html lang="en">
<head><title>Buyer Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../buyerDetail/buyerDetail.css" rel="stylesheet">
</head>
  
<body>
<nav role='navigation'>
  <!--Hamburger Menu Thing-->
    <div id="menuToggle">

      <input type="checkbox"/>
      
      <span></span>
      <span></span>
      <span></span>
      
      <ul id="menu">
        <a href="#"><img src="../buyer/discount.png" alt="discount"><li class="discount">Discount</li></a>
        <a href="#"><img src="../buyer/popular.png" alt="popular"><li class="popular">Popular</li></a>
        <a href="#"><img src="../buyer/free-delivery.png" alt="free-delivery"><li class="free-delivery">Free Delivery</li></a>
      </ul>

</nav>

<!--Search Box, Cart and Logout-->
<nav2>
  <div class="search">
    <input class="mainLoginInput" type="text" placeholder="&#xF002; What are you craving for..." style="font-family:Urbanist, FontAwesome"/><br/>
  </div>
</div>
</nav2>

<nav3>
  <a href="#">
    <img class="logout" src="../buyer/logout.png" alt="logout">
  </a>

  <a href="#">
    <img class="cart-icon" src="../buyer/shopping-cart.png" alt="cart-icon">
  </a>
</nav3>

<div>
  <img class="banner1" src="../buyerDetail/banner1.png" alt="banner1">
</div>

<div class="backnshop">
  <a href="#">
    <img class="back" src="../buyerDetail/back.png" alt="back">
  </a>
  <h1 class="shop_name">KFC (MAE FAH LUANG BRANCH)</h1>
</div>


</body>
</html>