.Rectangle-7 {
    width: 275px;
    height: 92px;
    margin: 0 45px 47px 0;
    padding: 24px 37px 22.9px 17px;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fb963c;
  }

  .item {
    width: 275px;
    height: 192px;
    flex-grow: 0;
    margin: 20px 20px 0 0;
    border-radius: 30px;
    background-color: #ffe9c9;
  }

  .down-arrow-2 {
    width: 48.6px;
    height: 45.1px;
    margin: 0 172.4px 0 0;
    transform: rotate(-270deg);
  }