<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <!-- Bootstrap CSS link (replace with your specific Bootstrap version) -->
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <div class="Back button">
        <button type="button">
            <div class="down-arrow-2"></div>
            <span class="back">Back</span>
        </button>
    </div>

    <div class="container1">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>

        <div class="description">
            <span class="add-description">Add Description</span>
        </div>

        <div class="paymentMethod">
            <select id="paymentMethods" name="payemntMethods">
                <option value="bangkokBank">Bangkok Bank</option>
                <option value="kBank">K Bank</option>
                <option value="governmentBank">Government Bank</option>
            </select>
        </div>
    </div>
    
    <div class="container2">
        <div class="receipt">
            <span>Total</span><span>฿ 150</span>
            <button class="order">Order</button>
        </div>

        <img >
    </div>

    <!-- Bootstrap JS scripts (optional, only if you need Bootstrap JavaScript features) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-4s+ctV+pG1QX5ki+XCAp39yf8YloAsw1ZlHXlvx2X8b94ZpOv8z9YPqOCufcOY" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-cbYFIBqLpI8eT8MlR7Y5FqOrn2m53CJdInEElBjR6+L1DHbPMAhR2QcaEKJzsVxM" crossorigin="anonymous"></script>

</body>
</html>
