<!DOCTYPE html>
<html lang="en">
<head><title>Buyer Detail</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../templates/css/buyerDetail.css" rel="stylesheet">
</head>
  
<body>
<nav role='navigation'>
  <!--Hamburger Menu Thing-->
    <div id="menuToggle">

      <input type="checkbox"/>
      
      <span></span>
      <span></span>
      <span></span>
      
      <ul id="menu">
        <a href="#"><img src="../buyer/discount.png" alt="discount"><li class="discount">Discount</li></a>
        <a href="#"><img src="../buyer/popular.png" alt="popular"><li class="popular">Popular</li></a>
        <a href="#"><img src="../buyer/free-delivery.png" alt="free-delivery"><li class="free-delivery">Free Delivery</li></a>
      </ul>

</nav>

<!--Search Box, Cart and Logout-->
<nav2>
  <div class="search">
    <input class="mainLoginInput" type="text" placeholder="&#xF002; What are you craving for..." style="font-family:Urbanist, FontAwesome"/><br/>
  </div>
</div>
</nav2>

<nav3>
  <a href="../Login/Login.html">
    <img class="logout" src="../buyer/logout.png" alt="logout">
  </a>

  <a href="../Cart/cart.html">
    <img class="cart-icon" src="../buyer/shopping-cart.png" alt="cart-icon">
  </a>
</nav3>

<div>
  <img class="banner1" src="../buyerDetail/banner1.png" alt="banner1">
</div>

<div class="backnshop">
  <a href="../buyer/buyer.html">
    <img class="back" src="../buyerDetail/back.png" alt="back">
  </a>
  <h1 class="shop_name">KFC (MAE FAH LUANG BRANCH)</h1>
</div>

<!--Menu Items1-->
<div class="items1">
  <div class="itemcontainer" id="one">
      <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
      <span class="shape">
        <img src="../buyerDetail/chicken-rice-bowl.png" alt="chicken_rice_bowl">
      </span>
      <div class="item">
          <h5>Chicken Rice Bowl</h5>
          <h5>69 Baht</h5>
      </div>
  </div>
  
  <div class="itemcontainer" id="two">
    <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
    <span class="shape">
      <img src="../buyerDetail/chicken-pop-removebg-preview 1.png" alt="chicken_pop">
    </span>
      <div class="item">
          <h5>Chicken Pop</h5>
          <h5>129 Baht</h5>
      </div>
  </div>

  <div class="itemcontainer" id="three">
    <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
    <span class="shape">
      <img src="../buyerDetail/classic-combo 1.png" alt="classic_combo">
    </span>
      <div class="item">
          <h5>Classic Combo</h5>
          <h5>129</h5>
      </div>
  </div>

  <div class="itemcontainer" id="four">
    <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
    <span class="shape">
      <img src="../buyerDetail/family-bucket-removebg-preview 1.png" alt="family_bucket">
    </span>
      <div class="item">
          <h5>Family Bucket</h5>
          <h5>619</h5>
      </div>
  </div>
</div>

<!--Menu Items2-->
<div class="items1">
  <div class="itemcontainer" id="five">
      <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
      <span class="shape">
        <img src="../buyerDetail/chick-n-roll 1.png" alt="chicken_rice_bowl">
      </span>
      <div class="item">
          <h5>Chick 'N Roll</h5>
          <h5>59 Baht</h5>
      </div>
  </div>
  
  <div class="itemcontainer" id="six">
    <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
    <span class="shape">
      <img src="../buyerDetail/chicken-bacon-burger-removebg-preview 1.png" alt="chicken_pop">
    </span>
      <div class="item">
          <h5>Chicken Bacon Burger</h5>
          <h5>89 Baht</h5>
      </div>
  </div>

  <div class="itemcontainer" id="seven">
    <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
    <span class="shape">
      <img src="../buyerDetail/spicy_chickent-removebg-preview 1.png" alt="classic_combo">
    </span>
      <div class="item">
          <h5>Spicy Chicken</h5>
          <h5>129</h5>
      </div>
  </div>

  <div class="itemcontainer" id="eight">
    <a href="#"><img class="basket" src="../buyerDetail/basket.png" alt="basket"></a>
    <span class="shape">
      <img src="../buyerDetail/snack-removebg-preview 1.png" alt="family_bucket">
    </span>
      <div class="item">
          <h5>Snack Box</h5>
          <h5>219</h5>
      </div>
  </div>
</div>

</body>
</html>