<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="css/destination.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logout-circle">
            <a href="http://127.0.0.1:5501/src/main/resources/templates/Login/Login.html">
                <img class="logout-icon" src="images/logout 1.png" alt="">   
            </a>    
        </div>       
    </header>

    <div class="banner">
        <div class="rect1">
            <div class="shopName">Shop Name_88</div>
        </div>

        <div class="rect2">
            <div class="rect3">
                <div class="location">
                    <div class="ellipse">
                        <div class="ellipse1"></div>
                        <div class="ellipse2"></div>
                        <div class="ellipse3"></div>
                        <div class="ellipse4"></div>
                        <div class="ellipse5"></div>
                        <div class="ellipse6"></div>
                    </div>
                    
                    <div class="ellipse-text">
                        <div class="begin">Nihao 12, 40A</div>
                        <div class="end">Buhao Plaza, 223B</div>                               
                    </div>
                </div>

                <div class="bahtKm">
                    <div class="baht">198 Baht</div>
                    <div class="km">7km</div>
                </div>
            </div>

            <div class="circle-container1">
                <div class="circle-container2">
                    <div class="circle1">
                        <img class="user-icon" src="images/user 4.png" alt="">
                    </div>
                    <div class="circle1-text">
                        <ul>
                            <li class="cusId">Customer_4869</li>
                            <li class="cusOrder">Customer's Order Details</li>
                        </ul>
                    </div>
                </div>             
                
                <div class="circle-container3">
                    <div class="circle2">
                        <img class="phone-icon" src="images/telephone 2.png" alt="">
                    </div>
                    <div class="circle3">
                        <img class="checked-icon" src="images/checked (1) 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>