<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rider</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="css/rider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="icons">
            <img class="menu-icon" src="images/menu 2.png" alt="">
        </div>

        <div class="icons">
            <div class="logout-circle">
                <a href="http://127.0.0.1:5501/src/main/resources/templates/Login/Login.html">
                    <img class="logout-icon" src="images/logout 1.png" alt="">   
                </a>    
            </div> 
        </div>       
    </header>
    <div class="banner">        
        <div class="orders-switch">
            <span class="switch">
                <input type="checkbox" id="switcher">
                <label for="switcher"></label>
            </span>
        </div>

        <div class="orders-list-container">
            <div class="order-lists">
                <div class="circle">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Destination/destination.html">
                        <img class="user-icon" src="images/user 4.png" alt="">  
                    </a>                  
                </div>
                <div class="order-lists-text">
                    <ul>
                        <li class="orderNo">Order #144</li>
                        <li class="cusNo">Customer_001</li>
                    </ul>
                </div>
            </div>
            <div class="order-lists">
                <div class="circle">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Destination/destination.html">
                        <img class="user-icon" src="images/user 4.png" alt="">  
                    </a>  
                </div>
                <div class="order-lists-text">
                    <ul>
                        <li class="orderNo">Order #144</li>
                        <li class="cusNo">Customer_001</li>
                    </ul>
                </div>
            </div>
            <div class="order-lists">
                <div class="circle">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Destination/destination.html">
                        <img class="user-icon" src="images/user 4.png" alt="">   
                    </a>  
                </div>
                <div class="order-lists-text">
                    <ul>
                        <li class="orderNo">Order #144</li>
                        <li class="cusNo">Customer_001</li>
                    </ul>
                </div>
            </div>
    </div>
</body>
</html>