<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="SignUp.css">
</head>
<body>
    <form action="">
        <div class="container">
            <div class="name">
                <div class="first-name">
                    <label for="first-name">First Name</label>
                    <input type="text" required>
                </div>
    
                <div class="last-name">
                    <label for="last-name">Last Name</label>
                    <input type="text" required>
                </div>
            </div>
            
            <div class="email">
                <label for="email">Email</label>
                <input type="email" required>
            </div>
            
            <div class="phoneNumber">
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" required>
            </div>
            
            <div class="address">
                <label for="address">Address</label>
                <input type="text" required>
            </div>
            
            <div class="password">
                <label for="password">Password</label>
                <input type="password" required>
            </div>

            <div class="confirmPassword">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" required>
            </div>

            <button type="submit" class="btn">Sign up</Sign></button>

        </div>
    </form>
</body>
</html>