<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderList</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <link rel="stylesheet" href="OrderList.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="bar">
            <h1 class="head">Order List</h1>
            <h1 class="total">Total: 18</h1>
        </div>
        <div class="orders">
            <div class ="double">
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
            </div>
            <div class ="double">
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
            </div>
            <div class ="double">
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
            </div>
            <div class ="double">
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
                <div class="order-card">
                    <img class="phad-thai" src="Ellipse 16.png">
                    <p class="order-detail"> Customer<br>Description</p>
                    <div class="icon-space">
                        <img class="icon" src="Green.png">
                        <img class="icon" src="Red.png">
                    </div>
                </div>
            </div>
        </div>
        <button class="back-button"> 
            <img class="back-arrow" src="Arrow.png"> 
            <p class="back-text">back</p>
        </button>
    </div>
    
</body>
</html>