<!DOCTYPE html>
<html lang="en">
<head><title>Buyer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../buyer/buyer.css" rel="stylesheet">
</head>
  
<body>

<nav role='navigation'>
  <!--Hamburger Menu Thing-->
    <div id="menuToggle">

      <input type="checkbox"/>
      
      <span></span>
      <span></span>
      <span></span>
      
      <ul id="menu">
        <a href="#"><img src="../buyer/discount.png" alt="discount"><li class="discount">Discount</li></a>
        <a href="#"><img src="../buyer/popular.png" alt="popular"><li class="popular">Popular</li></a>
        <a href="#"><img src="../buyer/free-delivery.png" alt="free-delivery"><li class="free-delivery">Free Delivery</li></a>
      </ul>

</nav>

<!--Search Box, Cart and Logout-->
<nav2>
  <div class="search">
    <input class="mainLoginInput" type="text" placeholder="&#xF002; What are you craving for..." style="font-family:Urbanist, FontAwesome"/><br/>
  </div>
</div>
</nav2>

<nav3>
  <a href="#">
    <img class="logout" src="../buyer/logout.png" alt="logout">
  </a>

  <a href="../Cart/cart.html">
    <img class="cart-icon" src="../buyer/shopping-cart.png" alt="cart-icon">
  </a>
</nav3>

<!--Shops banner1-->
<div>
  <img class="banner1" src="../buyer/shop-banner.png" alt="shops-banner1">
</div>

<!--Shops preview-->
<div class="shops1">
  
  <div class="one">
  <a href="#"><img class="kfc" src="../buyer/kfc.png" alt="kfc"></a>
  <a href="#"><p>KFC</p></a>
  </div>
  
  <div class="two">
  <a href="#"><img class="krispy" src="../buyer/krispy-kreme.png" alt="krispy-kreme"></a>
  <a href="#"><p>Krispy Kreme</p></a>
  </div>

  <div class="three">
  <a href="#"><img class="pizza" src="../buyer/the-pizza-company.png" alt="the-pizza-company"></a>
  <a href="#"><p>The Pizza Company</p></a>
  </div>

</div>

<!--Shops banner2-->
<div>
  <img class="banner2" src="../buyer/starbucks.png" alt="shops-banner2">
</div>
</body>
</html>