.container {
    width: 1280px;
    min-height: 100vh;
    margin: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    margin: 50px auto;
    padding: 110px;
    width: 904px;
    height: 750px;
    background-color: #FFE9C9;
    justify-content: center;
    border-radius: 20px;
}

.logo {
    margin: auto;
    width: 245px;
    height: 240px;
}

.logo img {
    width: 245px;
    height: 240px;
    margin-bottom: 24px;
    border-radius: 50%;
}

.text {
    width: 270px;
    height: 220px;
    margin: auto;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 130px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
}

#thankYou {
    color: #FB963C;
    margin-bottom: 0;
}

span {
    font-size: 25px;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    width: 347px;
    height: 92px;
    color: white;
    background-color: #FB963C;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}